@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;

    --font-family: 'Manrope', sans-serif;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;

    font-family: var(--font-family);
  }

  .app {
    background-color: var(--backgrond);
    height: 100%;
  }

  .container {
    width:  min(58.5rem, 100%);
    margin-inline: auto;
    height: 100%;
    background: linear-gradient(180deg, var(--backgrond) 50%, var(--button));
  }

  header {
    border: none;
    border-bottom: 1px solid var(--border);
    padding-top: 3.7rem;
    padding-inline: 2.5rem;
    padding-bottom: 2.572rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #logo-desktop {
    display: none;
  }

  /* NAVIGATION */

  nav {
    display: none;
  }

  img#menu-close {
    display: none;
  }

  nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--backgrond);
  }

  nav.show a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: inline-block;
    margin-inline: auto;
    width: 100%;
    padding-inline: 3.82rem;
    padding-top: 1.7rem;
    padding-bottom: 1.4rem;

    color: var(--text-color-menu-mobile);
    font-size: 1.8rem;

    border-bottom: .1rem solid var(--border);
  }

  nav.show a:hover {
    font-weight: 700;
    color: var(--text-color);
    
    border-left: .5rem solid var(--button);
  }
  
  /* DIV CONTENT */
  .content h2 {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 700;

    margin-inline: 2.7rem;
    margin-top: 8.8rem;

    text-align: center;
  }

  .content a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    color: var(--text-color);

    width: 17.4rem;
    height: 3.5rem;

    margin-top: 8.8rem;

    outline: .1rem solid var(--button);
    border-radius: .6rem;

    transition: .3s;
  }

  .content a:hover {
    filter: brightness(1.1);
    box-shadow: 0px 0px 5px var(--button), 0px 0px 10px var(--button), 0px 0px 15px var(--button);
  }

  .content h1 {
    color: var(--text-color);
    font-size: 5rem;
    font-weight: 700;
    width: fit-content;
    margin-inline: auto;
    margin-top: 9.8rem;
  }

  .content h3 {
    font-size: 5rem;
    font-weight: 700;
    width: fit-content;
    margin-inline: auto;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: none;

    transition: .3s;
  }

  .content h3:hover {
    text-shadow: -1px -1px 5px var(--button), 1px -1px 10px var(--button), -1px 1px 0 var(--button);

  }

  .cup {
    width: 100%;
    height: 100%;
    margin-top: 4.8rem;
  }

  @media(min-width: 1024px) {

    .app {
      height: 100vh;
      overflow: hidden;
    }

    header {
      border: none;
    }

    #logo-desktop {
      display: block;
      width: 5rem;
    }

    nav {
        display: flex;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5rem;
        gap: 3.243rem;
    }

    nav a {
      color: var(--text-color);
      font-size: 1.4rem;
    }

    img#menu-open {
       display: none;
    }

    .container {
        width: min(112rem, 100%);
        background: none;
    }

    .content h2 {
      display: none;
    }

    .content a {
      position: absolute;
      top: 0;
      left: 70%;
      transform: translateX(100%);

      font-size: 1.1rem;

      margin-top: 4rem;
    }

    .content h1, .content h3 {
      font-size: 8rem;
    }

    .content h1 {
      margin-top: 5.6rem;
    }

    .content img {
      width:  49%;
      margin-inline: auto;
    }

    .content {
      display: flex;
      flex-direction: column
    }

    #logo-mobile {
      display: none;
    }
  }